# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Loi\Documents\MEGA\Courses_Active\2020_CSCI_E-97_Software_Design\CSCI_E-97--GIT\2020_CSCI_E-97_Software_Design\a3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
